* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
}

.chatbox. {
    width: 400px;
    min-width: 390px;
    height: 600px;
    background: red;
    padding: 25px;
    margin: 10px auto;
    box-shadow: 0 3px #ccc;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,.1);
}


.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 50px;
    height: 50px;
    background:  #ccc;
    border-radius: 50%;
}



.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    background: #A7B5CE;
    border-radius: 10px;
    color:white;
    font-size: 20px;
}

.friend .chat-message {
    background: rgb(230, 200, 97);

}

.self .chat-message {
    background: #694b67;
    order: -1;

}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}


.chat-form textarea {
    background: #fbfbfb;
    width: 99%;
    height: 50%;
    border: 5px solid #eee;
    resize: none;
    padding: 2px;
    font-size: 18px;
    color: #333;
    margin-left: 10px;
}

.chat-form textarea:focus {
   background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
    width: 9px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,.1);
}

.chat-form button {
    background: #E5C662;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #dbbe62;
    cursor: pointer;
}

.chat-form button:hover {
    background: #bea146
}

.keyboard {
    width: 100%;
    margin-top: 8px;
    
}

    
h1{
    font-family: 'Roboto';
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #c4ae68;
    color: white
}


   
    /*/// Burger menu ///*/


a:visited {
    color: #696969;
    text-decoration: none;
}

a:hover {
    color: #e3675e;
    text-decoration: none;
}

nav {
    display: none;
}

#menu {
    display: none;
}


#menu {
    display: none;
    text-decoration: none;

}

header {
    color: #f0eeee;
    background-color: rgb(186, 186, 186);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 28px;
    font-family: 'Montserrat';
    text-decoration: none;
}



label {
    color: #4e4a4a;
    font-size: 40px;
    display: block;
    cursor: pointer;
}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    margin-bottom: 1em;
    
}


.menu a {
    display: block;
    border-bottom: 1px solid #868686;
    margin: 0;
    text-decoration: none;
}

#menu:checked + .menu {
    display: block;

}

.checkbox {
    display: none;
}

    /*/// layout of overall page ///*/

   
   
    @media only screen and (min-width: 750px) {

        
        
        
        
        
        

    /*/// layout of overall page ///*/

    div#chat {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            
            ". r r ."
            ". i i ."
            ". f f ."
            ". e e ."
    }

   
    div.chatbox {
        grid-area: r;
    }

    div.chatlogs {
        grid-area: i;
    }

    .chat-message {
        grid-area: f;
    }

    .keyboard {
        grid-area: e;
    }

